.git
.github
.env
.env.*
!.env.example
!.env.production.example
**/.env
**/.env.*
!**/.env.example
!**/.env.production.example
**/.DS_Store
**/node_modules
**/vendor
**/.next
**/coverage
**/playwright-report
**/test-results
apps/api/storage/app/*
apps/api/storage/framework/cache/*
apps/api/storage/framework/sessions/*
apps/api/storage/framework/views/*
apps/api/storage/logs/*
client_body_temp
fastcgi_temp
proxy_temp
